doctype html
html
  head
    title= "EddyMon"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(data-main="javascripts/app.js" src="dist/vendor/require.js")
    block headContent
  body
    block content
